
<div class="cuerpo" id="cuerpo">


    <!-- 'slow': (this.slow == true)? true: false -->
    <div
    *ngIf="this.lightSpeed == true"
    [ngClass]="{
        'entradaEstrellas': (this.lightSpeed == true)? true : false
    }"
    (animationstart)="goSpeed($event)"
    class="scene">
    <div class="wrap">
            <div class="wall wall-right"></div>
            <div class="wall wall-left"></div>
      <div class="wall wall-top"></div>
      <div class="wall wall-bottom"></div>
      <div class="wall wall-back"></div>
    </div>
    <div class="wrap">
        <div class="wall wall-right"></div>
        <div class="wall wall-left"></div>
        <div class="wall wall-top"></div>
        <div class="wall wall-bottom"></div>
        <div class="wall wall-back"></div>
    </div>
</div>


</div>