




    <p>
        Prueba
    </p>

    <!-- <a-entity  id="screen11" rotation="0 0 0" position="0 0 0" scale="0.5 1.1 1.1" gltf-model="./assets/files/3dmodel/screen-stand/valla3Dgltf.gltf" renderer="antialias:true; colorManagement:true; physicallyCorrectLights:true;" ></a-entity>


    <a-image
    class=" raycastable" position="0.88304 1.79396 -0.80528"  material="src: ./assets/files/elements/objects/stands/images/beckham.jpeg;"  id="imageTest1"  scale="1.4 1.95 1" rotation="0 91.12951027335257 0"  ></a-image> -->

