<a-scene debug="true">

    <a-entity id="a_table_stand_1" position="0.39598 6.25365 -1.03622" rotation="0 0 0" a_table_stand>

    </a-entity>
    <a-entity id="a_table_stand_2" position="-0.41751 0 -4.31379" rotation="0 0 0" a_table_stand>

    </a-entity>
    <a-entity id="a_table_stand_3" position="14.01268 5.43988 -5.02505" rotation="59.00000000000001 100 200" a_table_stand>

    </a-entity>

  <a-plane
    position="0 0 -4"
    rotation="-90 0 0"
    width="4"
    height="4"
    color="#7BC8A4"
    shadow
  ></a-plane>
  <a-sky color="#ECECEC"></a-sky>

</a-scene>
